@import "../../styles/base/variables.scss";

.home-banner {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-banner__heading {
  font-size: 2rem;

  @media (min-width: 900px) {
    font-size: 5rem;
  }
}

.home-features {
  background-color: $teal;
  display: flex;
  flex-direction: column;
  min-height: 550px;
  text-align: center;
  padding: 2rem;
}

.home-features__heading {
  font-size: 2rem;
  margin: 0;
}

.home-features__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0;
  margin: 0;

  li {
    flex: 0 0 33.333%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;

    span {
      background-color: $white;
      border: solid 4px $black;
      border-radius: 50%;
      display: block;
      height: 300px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.home-info {
}

.home-info__text {
  padding: 5rem;
}

.home-features--numbered {
  background-color: rgba(83, 154, 174, 0.5);
}
