@import "../../styles/base/variables.scss";
@import "../../styles/base/buttons.scss";

.footer {
    background-color: $grey;
    padding: 1rem;
    font-size: .75rem;
}

a {
    color: black;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom_hidden {
    visibility: hidden;
}


.footer-bottom_contact .icon {
    margin: 0 5px;
    font-size: 1rem;
}
