@import "../../styles/base/variables.scss";
@import "../../styles/base/buttons.scss";

.header {
  background-color: $teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
